.modal-overlay, .modal-window {
    opacity: 0;
    z-index: -1;
}
.modal.open .modal-overlay,
.modal.open .modal-window {
    opacity: 1;
    z-index: 1000;
}
.modal-overlay {
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background: rgba(0,0,0,0.5);
    transition: all .3s ease-in;
}
.modal-window {
    width: 500px;
    border-radius: 5px;
    background: #fff;
    margin: 100px auto;
    padding: 5px 10px;
    transition: all .3s ease-in;
}
.modal-header {
    padding: 5px 0;
    display: flex;
    justify-content: space-between;
    border-bottom: 1px solid #eee;
}
.modal-title {
    font-size: 1.5rem;
}
.modal-close {
    cursor: pointer;
    font-size: 20px;
}
.modal-body {
    padding: 5px 0;
    display: flex;
}
.modal-footer {
    padding: 5px 0;
    border-top: 1px solid #eee;
}